.root {
  padding: 50px;
  text-align: center;
  h1 {
    font-size: 48px;
    @media(max-width: 480px) {
      font-size: 38px;
    } 
  }
  span {
    font-size: 64px; 
  }
  @media(max-width: 480px) {
    padding: 15px;
  }
}

.description {
  font-size: 22px;
}